@model motekarteknologi.Models.SalesOrder

@{
    ViewData["Title"] = "Edit";
    var modalID = "sales-order-line";
    var areaModalID = "sales-order-line-label";
}

<h2>Edit</h2>

<h4>SalesOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h3>Sales Order Lines</h3>
</div>
<div>
    <div class="btn-group">
        <a id="createLine" data-toggle="modal" asp-action="AddEditLine" data-target="#@modalID" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>  Add Line
        </a>
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Description
                </th>
                <th>
                    Qty
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qty)
                    </td>
                    <td>
                        <a id="editLine" data-toggle="modal" asp-action="AddEditLine" data-target="#@modalID" asp-route-id="@item.ID">Edit</a> |
                        <a data-toggle="modal" asp-action="DeleteLine" data-target="#@modalID" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_Modal", new Modal
{
    ID = modalID,
    AreaLabelID = areaModalID,
    Size = ModalSize.Medium
})

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ModalScriptsInit", modalID);}

}
